/* Filter menu */
.filters {
  max-width: 100%;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.filters .filter-group {
  display: block;
  margin-right: 20px;
  margin-bottom: 15px;
}

.filters label {
  display: inline;
  margin-right: 5px;
}

.filters input {
  background: #FAF5F9;
  border: 1px solid #C9C5C8;
  border-radius: 3px;
  padding-left: 5px;
}

.filters select {
  background: #FAF5F9;
  border: 1px solid #C9C5C8;
  border-radius: 3px;
  padding-left: 2px;
}

.dropdown {
  width: 75px;
  display: inline;
  margin-bottom: 10px;
}