# Node, bower and composer packages
node_modules/
bower_components/
vendor/

# Public folder
public/

# API Settings
api/settings.php

# NPM debug
npm-debug.log

# Disclaimer stuff
src/css/disc.css
src/templates/index2.html