<!DOCTYPE HTML>
<html ng-app='kzApp'>
  <head>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Stylesheets etc. -->
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='css/bundle.css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='favicon.png'>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>KZStats Local</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class='navbar' ng-controller='NavCtrl'>
      <!-- Main navigation menu -->
      <ul class='navbar__menu'>
        <a ui-sref='front'><li>Latest</li></a>
        <a ui-sref='players.list'><li>Players</li></a>
        <a ui-sref='maps.list'><li>Maps</li></a>
        <!-- Jumpstats dropdown -->
        <li ng-class='{navbar__menu__dropdown: toggled}'>
          <a href='' ng-click='toggled = !toggled'>Jumpstats
            <span class='navbar__menu__dropdown__arrow' ng-show='toggled'>&#9650;</span>
            <span class='navbar__menu__dropdown__arrow' ng-show='!toggled'>&#9660;</span>
          </a>
          <ul class='navbar__menu__dropdown__list' ng-show='toggled'>
            <li><a ui-sref='jumps.detail({jumpName: "lj"})'>Longjump</a></li>
            <li><a ui-sref='jumps.detail({jumpName: "bhop"})'>Bunnyhop</a></li>
            <li><a ui-sref='jumps.detail({jumpName: "dropbhop"})'>Dropbhop</a></li>
            <li><a ui-sref='jumps.detail({jumpName: "mbhop"})'>Multibhop</a></li>
            <li><a ui-sref='jumps.detail({jumpName: "wj"})'>Weirdjump</a></li>
            <li><a ui-sref='jumps.detail({jumpName: "ladderjump"})'>Ladderjump</a></li>
          </ul>
        </li>
      </ul>
      <!-- Search -->
      <div class='navbar__search'>
        <form class='form-inline' ng-submit='search()'>
          <div class='input-group'>
            <input type='text' class='form-control' ng-model='searchField' placeholder='Map or player' minlength='2' maxlength='20' autofocus>
            <div class='input-group-addon' ng-click='search()'>
              <span class='glyphicon glyphicon-search'></span>
            </div>
            <!-- Hidden submit button to allow submitting by enter keypress -->
            <input type='submit' style='position: absolute; left: -9999px; width: 1px; height: 1px;'>
          </div>
        </form>
      </div>
      <!-- Server info -->
      <div class='navbar__server' ng-show='server'>
        <b>{{ server.name }}</b><br>
        Players: {{ server.players }}/{{ server.maxplayers }}<br>
        Map: <a ui-sref='maps.detail({mapName: server.map })'>{{ server.map }}</a><br><br>
        &raquo; <a href='steam://connect/{{ server.ip }}'>Join server</a>
      </div>
      <!-- Footer -->
      <div class='navbar__footer'>
        Stats provided by<br>
        <a href='https://www.github.com/joelbman/kzstats-local/'>KZStats Local</a>
      </div>
    </nav>
    <!-- Main content -->
    <div class='content'>
      <div ui-view></div>
    </div>
    <script src='js/bundle.js'></script>
  </body>
</html>