<!DOCTYPE HTML>
<html ng-app='kzApp'>
  <head>
    <!-- Meta -->
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Stylesheets etc. -->
    <link rel='stylesheet' type='text/css' href='css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='css/bundle.css'>
    <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel='shortcut icon' href='favicon.png'>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <title>KZStats Local</title>
  </head>
  <body>
    <nav class='navbar'>
      <div class='navbar__brand'>
        <a href=''>Server name</a>
      </div>
      <ul class='navbar__menu'>
        <li><a ui-sref='players.list'>Players</a></li>
        <li><a href=''>Maps</a></li>
        <li><a href=''>Jumpstats</a></li>
        <li><a href=''>Bans</a></li>
      </ul>
      <div class='navbar__footer'>
        Stats provided by<br>
        <a href='https://www.github.com/joelbman/kzstats-local/'>KZStats Local</a>
      </div>
    </nav>
    <div class='content'>
      <div ui-view></div>
    </div>
    <script src='js/bundle.js'></script>
  </body>
</html>