.navbar {
  width: 200px;
  background: #363636;
  top: 0;
  left: 0;
  height: 100%;
  position: fixed;
  color: #F0F0F0;
}

.navbar__brand {
  padding: 10px;
  font-size: 24px;
  font-family: 'Yellowtail', cursive;
}

.navbar__menu {
  list-style: none;
  z-index: 999;
  padding: 0;
  margin: 0;
}

.navbar a {
  color: #F0F0F0;
}

.navbar a:hover {
  color: #F0F0F0;
}

.navbar__menu li {
  display: block;
  width: 100%;
  padding: 10px;
}

.navbar__menu li:hover {
  background: #4A4A4A;
}

.navbar__footer {
  bottom: 0;
  position: fixed;
  font-size: 13px;
  text-align: center;
  width: 200px;
  padding-bottom: 15px;
}

.navbar__footer a {
  color: #CF8338;
}