/**
 * Tabs
 * --------
 */
.tab {
  max-width: 1000px;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #FAFAF7;
}

.tab-content>.active {
  padding: 10px;
}

.nav-tabs>li.active>a {
  background: #FAFAF7;
}

ul.nav a:hover {
  background: #EDEDED !important;
  cursor: pointer;
}