<h1>Latest records</h1>
<div class='col-md-6'>
  <table class='table table-striped'>
    <tr>
      <th>Player</th>
      <th>Map</th>
      <th>Runtime</th>
      <th>Teleports</th>
      <th>Date</th>
    </tr>
    <tr ng-repeat='r in records | orderBy: "date":true'>
      <td><b><a ui-sref='players.detail({ steamId: (r.runtime|numOnly) })'>{{ r.name }}</a></b></td>
      <td><a ui-sref='maps.detail({ mapName: r.map })'>{{ r.map }}</a></td>
      <td>{{ r.runtime | convertTime }}</td>
      <td>{{ r.teleports }}</td>
      <td>{{ r.date|kzDate }}</td>
    </tr>
  </table>
</div>