<h1>KZStats Local</h1>

<div class='panel panel-default latest'>
  <div class='panel-heading'>
    <h3>Latest records</h3>
  </div>
  <div class='panel-body'>
    <div>
      <div class='latest__entry' ng-repeat='r in records | orderBy:"-timestamp" | startFrom: startPoint | limitTo: pageSize'>
        <h4><a ui-sref='maps.detail({mapName: r.map})'>{{ r.map }}</a> <small>[{{ r.runtime | convertTime }}]</small></h4>
        by <b><a ui-sref='players.detail({steamId: (r.steamid|numOnly)})'>{{ r.name }}</a></b><br>
        <i>{{ r.date }}</i>
      </div>
    </div>
    <div class='latest__footer'>
      <button class='btn btn-default arrow' ng-click='showPrev()' ng-disabled='startPoint < 5'>&larr;</button>
      <button class='btn btn-default arrow' ng-click='showNext()' ng-disabled='startPoint > 9'>&rarr;</button>
    </div>
  </div>
</div>