<h1>
  {{ p.name }} 
  <img src='{{ p.countrycode | imgPath }}' class='flagico' alt='{{ p.countrycode }}'>
</h1>
<b>{{ p.points }}</b> points<br>
Last seen: {{ p.lastseen }}

<!-- Jumpstats -->
<h2>Jumpstats</h2>
<div class='jumpstats'>
  <span ng-show='p.ljrecord > 0'>Longjump: <a ui-sref='jumps.detail({jumpName: "lj"})'>{{ p.ljrecord }}</a></span>
  <span ng-show='p.bhoprecord > 0'>Bunnyhop: <a ui-sref='jumps.detail({jumpName: "bhop"})'>{{ p.bhoprecord }}</a></span>
  <span ng-show='p.dropbhoprecord > 0'>Drop-bunnyhop: <a ui-sref='jumps.detail({jumpName: "dropbhop"})'>{{ p.dropbhoprecord }}</a></span>
  <span ng-show='p.multibhoprecord > 0'>Multi-bunnyhop: <a ui-sref='jumps.detail({jumpName: "mbhop"})'>{{ p.multibhoprecord }}</a></span>
  <span ng-show='p.wjrecord > 0'>Weirdjump: <a ui-sref='jumps.detail({jumpName: "wj"})'>{{ p.wjrecord }}</a></span>
  <span ng-show='p.ladderjumprecord > 0'>Ladderjump: <a ui-sref='jumps.detail({jumpName: "ladderjump"})'>{{ p.ladderjumprecord }}</a></span>
</div>

<!-- Records -->
<h2>Runs</h2>
<div class='col-md-6' ng-show='records'>
  <div class='progressblock'>
    TP times <progressbar value='tpcount' max='bothcount' ng-if='bothcount'>{{ tpcount }}</progressbar>
  </div>
  <div class='progressblock'>
    Pro times <progressbar value='procount' max='bothcount' ng-if='bothcount'>{{ procount }}</progressbar>
  </div>
  <table class='table table-striped'>
    <tr>
      <th>Map</th>
      <th>Time</th>
      <th>TPs</th>
      <th>Pro time</th>
    </tr>
    <tr ng-repeat='r in records | startFrom: (currentPage-1)*pageSize | limitTo: pageSize'>
      <td><a href=''>{{ r.mapname }}</a></td>
      <td>
        <span ng-show='r.teleports > 0'>{{ r.runtime | convertTime }}</span>
        <span ng-show='r.teleports < 0'>N/A</span>
      </td>
      <td>
        <span ng-show='r.teleports > 0'>{{ r.teleports }}</span>
        <span ng-show='r.teleports < 0'>N/A</span>
      </td>
      <td>
        <span ng-show='r.runtimepro > 0'>{{ r.runtimepro | convertTime }}</span>
        <span ng-show='r.runtimepro < 0'>N/A</span>
      </td>
    </tr>
  </table>
  <pagination total-items='records.length' max-size='5' ng-model='currentPage'></pagination>
</div>
<span ng-hide='records'>No runs available.</span>
